version: 2.1

jobs:
  qualitygate:
    docker:
      - image: cimg/openjdk:25.0
    steps:
      - checkout
      - run:
          name: Spotbugs
          command: ./mvnw clean compile spotbugs:check
      - run:
          name: PMD
          command: ./mvnw clean compile pmd:check
      - run:
          name: Checkstyle
          command: ./mvnw clean compile checkstyle:check

  build:
    docker:
      - image: cimg/openjdk:25.0
    resource_class: arm.medium
    working_directory: ~/repo
    environment:
      GRAALVM_HOME: /home/circleci/repo/.graalvm
    steps:
      - checkout
      - run:
          name: Download GraalVM archive
          command: curl https://github.com/graalvm/graalvm-ce-builds/releases/download/jdk-25.0.1/graalvm-community-jdk-25.0.1_linux-aarch64_bin.tar.gz -O -J -L
      - run:
          name: Unpack downloaded GraalVM archive
          command: tar xfz graalvm-community-jdk-25.0.1_linux-aarch64_bin.tar.gz
      - run:
          name: Move directory
          command: mv graalvm-community-openjdk-25.0.1+8.1 .graalvm
      - run:
          name: Cleanup GraalVM installer
          command: rm graalvm-community-jdk-25.0.1_linux-aarch64_bin.tar.gz
      - run:
          name: Build (Native)
          command: ./mvnw clean package -Pnative -DskipTests -Dmaven.test.skip=true -Dquarkus.native.container-build=true
          no_output_timeout: 30m
      - run:
          name: Build and push Docker Image to Dockerhub
          command: |
            docker build -t hablijack/greenhouse-backend:2.24.0 .
            echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push hablijack/greenhouse-backend:2.24.0

workflows:
  version: 2
  qualitygate_and_build:
    jobs:
      - qualitygate
      - build